* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 30%;
}



form {
    padding: 20px;
}

.form-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid lightgray;
    font-size: 20px
}

input:focus {
    outline: none;
    border-color: rgb(122, 137, 223);
    box-shadow: rgb(122, 137, 223) 0px 0px 16px;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.short {
    width: 49%;
}

.agree {
    width: 30%;
}

label {
    margin-left: 10px;
}

button {
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.buttons {
    margin-top: 10px;
}

#register {
    background-color: rgba(70,141,203,255);
}
#signIn {
    background-color: rgba(92,184,92,255)
}


@media screen and (max-width: 768px) {
    .form-container {
        width: 80%;
    }
    .row {
        flex-direction: column;
    }
    .short {
        width: 100%;
    }
    button {
        width: 100%;
        margin-bottom: 10px;
    }
    .agree {
        width: 100%;
        margin-bottom: 10px;
    }
}